body{
  background-image: linear-gradient(135deg, rgb(167, 191, 48) 0%, rgb(76, 88, 28) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .10rem;
  padding: .5rem;
  width: 100%;
  font-size: 1rem;
  color: var(--atlantis-100);
  margin-top: 1rem;
}

main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  padding: 0rem 10px;
}

.alert-info{
  color: var(--atlantis-100)
}

.container{
  background-color: var(--atlantis-50);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.container--title{
  width: 100%;
  font-size: 1.25rem;
  border-bottom: 1px solid var(--atlantis-800);
  color: var(--atlantis-800);
  margin-bottom: 1rem;
}

.container--content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
}

.container--content--row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}

.container--item{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: .25rem;
  width: 100%;
}

.container--item label{
  color: var(--atlantis-800);
  font-weight: bold;
  font-size: .80rem;
}

.container--item input[type="tel"], .container--item input[type="text"], .container--item input[type="password"], .container--item input[type="email"], .container--item input[type="time"]{	
  border: none;
  background-color: var(--atlantis-200);
  padding: .5rem;
  border-radius: .25rem;
  width: 100%;
  outline: none;
  color: var(--atlantis-800);
}

.container--item input:focus, button:focus, a:focus{
  outline: 2px solid var(--atlantis-600);
}

.container--item input::placeholder{
  color: var(--atlantis-500);
}

.grid-container{
  max-width: 1080px;
  min-width: 640px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.grid-item {
  flex: 1 0 calc(50% - 10px);
  max-width: 50%;
  box-sizing: border-box;
}

.toggle {
  display: inline-block;
  cursor: pointer;
}

.toggle--input {
  display: none;
}

.toggle--fill {
  position: relative;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-border-radius);
  background: var(--atlantis-200);
  transition: background-color ease-in-out 0.2s;
}

.toggle--fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--toggle-height);
  width: var(--toggle-height);
  background: var(--atlantis-50);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--toggle-border-radius);
  transition: transform 0.2s;
}

.toggle--input:checked ~ .toggle--fill {
  background: var(--atlantis-500);
}

.toggle--input:checked ~ .toggle--fill::after {
  transform: translateX(var(--toggle-height));
}

.container--item.checkbox-container{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .5rem;
  width: 100%;
}

.container--item small{
  color: var(--atlantis-800);
  font-weight: bold;
  font-style: italic;
  font-size: .60rem;
  transition: opacity ease-in-out .3s;
}

.container--item small.invalid-input{
  font-style: normal;
  color: #ff6a6a;
  margin-bottom: -.5rem;
  padding-bottom: .25rem;
}

.disabled{
  opacity: .7;
}
.disabled *{
  pointer-events: none;
}

.alert-callmebot{
  color: var(--atlantis-800);
  font-style: italic;
  font-size: .65rem;
}

.alert-callmebot a{
  color: var(--atlantis-900);
  text-decoration: underline var(--atlantis-600);
  font-weight: bold;
}

.container--item button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  width: 100%;
  margin-top: 1rem;
  border: 0;
  background-color: var(--atlantis-500);
  padding: .5rem;
  border-radius: .25rem;
  font-size: .95rem;
  cursor: pointer;
  transition: background-color ease-in-out .2s;
  font-weight: bold;
  color: var(--atlantis-100);
}

.container--item button:hover{
  background-color: var(--atlantis-600);
  color: var(--atlantis-50);
}

.hidden{ display: none !important; }
.hidden-opacity{ opacity: 0; }

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  width: 100%;
  font-size: .85rem;
  color: var(--atlantis-300);
  margin-bottom: 1rem;
}

footer img {
  margin-left: .25rem;
}

footer a{
  color: var(--atlantis-100);
  text-decoration: none;
  font-weight: bold;
  margin-left: .25rem;
}

.chart-container{
  max-width: 100%;
  min-height: 275px;
}

.charts-container{
  position: relative;
}

.charts-container .chart-arrow-left{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all ease-in-out .2s;
  scale: 1;
}

.charts-container .chart-arrow-left:hover{
  scale: 1.1;
}

.charts-container .chart-arrow-right{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all ease-in-out .2s;
  scale: 1;
}

.charts-container .chart-arrow-right:hover{
  scale: 1.1;
}

.container-legend{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#dash-loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--atlantis-600);
  font-weight: bold;
  flex-direction: column;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid var(--atlantis-600);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.hello-hand{
  animation: wave-animation 2.5s infinite; transform-origin: 70% 70%; display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@keyframes acenar {
  0% {
    transform: rotate(0deg); /* Rotação inicial */
  }
  50% {
    transform: rotate(30deg); /* Rotação no meio da animação */
  }
  100% {
    transform: rotate(0deg); /* Rotação final */
  }
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

canvas{
  background-color: var(--atlantis-50);
}

form.invalid input:required{
  border: 2px solid #ff6a6a !important;
}